{% extends "coderedcms/pages/web_page.html" %}

{% block content %}
<div class="container my-5" style="max-width: 500px;">
    <h2 class="text-warning mb-4">Новый пароль</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label text-info">Новый пароль</label>
            <input type="password" name="new_password1" class="form-control bg-dark text-white border-secondary" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-info">Подтверждение пароля</label>
            <input type="password" name="new_password2" class="form-control bg-dark text-white border-secondary" required>
        </div>
        <button type="submit" class="btn btn-warning w-100">Сохранить</button>
    </form>
</div>
{% endblock %}
