[Unit]
Description=Gripline Admin Telegram Bot
After=network.target

[Service]
Type=simple
User={{user}}
Group={{user}}
WorkingDirectory=/home/{{user}}/{{project_path}}
ExecStart=/home/{{user}}/{{project_path}}/venv/bin/python /home/{{user}}/{{project_path}}/manage.py run_bot
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
